<template>
	<div class="cart-card">
		<h3>{{ product.title }}</h3>
		<p>Quantity:<span> {{ product.quantity}}</span></p>
		<p>Cost: <span> {{item_cost.toFixed(2)}} €</span></p>
		<Button text="remove" type="grey" @click="removeProduct()" />
	</div>
</template>

<script>
import Button from '@/components/Button.vue'

export default {
	components:{
		Button
	},
	props: ['product'],
	computed: {
		description(){
			return this.product.description.substring(0, 120)
		},
		item_cost(){
			return this.product.price * this.product.quantity
		}
	},
	methods: {
		removeProduct(){
			this.$store.dispatch("removeProducts", this.product);
		}
	}
}
</script>

<style scoped lang="scss">
	.cart-card {
		box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
		padding: rem(20);
		margin-bottom: rem(15);
		p {
			font-size: rem(17);
			span {
				color:$green;
				font-weight: bold;
			}
		}
	}
</style>
