<template>
	<div>
		<h3>Total: {{ cart_total.toFixed(2)}} €</h3>
		<Button text="Pay with card" :disabled="true"/>
	</div>
</template>

<script>
import Button from '@/components/Button.vue'
export default {
	components:{
		Button
	},
	computed: {
		cart_total() {
			return this.$store.getters.cartTotal
		}
	}
	
}
</script>

<style scoped lang="scss">

</style>