<template>
	<div>
		<div class="drawer-background" :class="{show: active}" @click="$emit('close-drawer')"></div>
		<div class="drawer" :class="{show: active}">
			<div class="drawer-close" @click="$emit('close-drawer')">
				<icons name="close" class=""/>
			</div>
			<div v-if="product">
				<div class="product-details">
					<div class="info">
						<div>
							<h3>{{ product.title }}</h3>
							<p>Price:
									<span class="price">{{ product.price }} €</span>
								</p>
							<p class="description">{{ product.description }}</p>
							<div>
								<p>Nº products:
									<span class="total" v-if="total_products">{{ total_products }}</span>
								</p>
							</div>
						</div>
						<div class="button-container">
							<Button text="Add to cart" type="green" @click="addProduct()" />
							<Button text="Remove" type="grey" @click="removeProduct()"/>
						</div>
					</div>
					<div>
						<div class="product-image">
							<figure>
								<img :src="product.image" :alt="product.category">
							</figure>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</template>

<script>
// @ is an alias to /src
import Button from '@/components/Button.vue'

export default {
	components:{
		Button
	},
	props: ['product', 'active'],
	methods: {
		addProduct(){
			this.$store.dispatch("addProducts", this.product);
		},
		removeProduct(){
			this.$store.dispatch("removeProducts", this.product);
		}
	},
	computed: {
		total_products() {
			return this.$store.getters.productQuantity(this.product)
		}
	}
}
</script>

<style lang="scss">

	.drawer-background {
		width:100%;
		height: 100vh;
		position:fixed;
		left:0;
		top:0;
		background: rgba(167, 165, 165, 0.55);
		z-index: 100;
		display:none;
		transition: display .5s;

		&.show {
			display: block
		}
	}

	.drawer {
		width: 80vw;
		height: 100vh;
		background-color: white;
		position: fixed;
		top:0;
		left:-105vw;
		transition: left .5s;
		z-index: 101;
		overflow-y: auto;

		&.show {
			left:0;
		}
	}

	.drawer-close {
		display: flex;
		justify-content: flex-end;
		padding: rem(5);
		cursor: pointer;
	}
	
	.product-details {
		padding: rem(30);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: rem(10);
		text-align: center;
		@media only screen and (max-width: 600px) {
			padding-top: rem(0);
			}

		.info{
			display:flex;
			flex-direction: column;
			justify-content: center;
			.price, .total {
				font-weight: bold;
				color: $accent-4;
				font-size:rem(18);
			}
			p.description {
				text-align: justify;
				font-size:rem(17);
				@media only screen and (max-width: 600px) {
					font-size:rem(14);
				}
			}
		}

		.product-image{
			width:100%;
			img {
				width: 100%;
			}
		}
	}
	.button-container {
		display: flex;
		justify-content: space-evenly;
		margin-top: rem(5);
	}
	
</style>