<template>
	<div class="card-container">
		<div class="card-header">
			<h3>{{title}}</h3>
		</div>
		<div class="card-price">
			<span>{{product.price}} {{currency}}</span>
		</div>
		<div class="card-img">
			<img :src="product.image">
		</div>
		<div class="card-description">
			<p>{{description | Capitalize}}...</p>
		</div>
		<!-- <button @click="$emit('view-product', product)">{{buttonName}}</button> -->
		<Button text="View" type="green" @click="$emit('view-product', product)"/>
	</div>
</template>

<script>
import Button from '@/components/Button.vue'

export default {
	components:{
		Button
	},
	props: ['product', 'buttonName', 'currency'],
	computed: {
		description(){
			return this.product.description.substring(0, 60)
		},
		title(){
			return this.product.title.substring(0, 21)
		}
	},
	filters: {
        Capitalize(value) {
			return value.charAt(0).toUpperCase() + value.slice(1).toLowerCase()
        }
    }
}
</script>


<style scoped lang="scss">

	.card-container{
		padding: rem(10);
		box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 47px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

		.card-header{
			height: rem(50);
		}
		.card-price{
			height: rem(50);
			font-weight: bold;
			color:$accent-4;
			font-size:rem(20);
		}
		.card-img{
			height: rem(160);
			width: auto;
			img {
				height: rem(150);
			}
		}
		.card-description{
			height: rem(80);
			overflow: hidden;
		}
		button{
			margin-top: rem(15);
			margin-bottom: rem(15);
		}
		
	}
	
</style>