<template>
	<div class="about">
		<h1>About</h1>
		<p>Hi, my name is Luis and I am a Frontend developer. I have build this app using 
			<span class="green">VueJs</span>, 
			<span class="green-dark">Vuex,</span> and
			<span class="blue">Axios</span>
		</p>
		<h3>¿How does this app works?</h3>
		<p>I have created two enviroments, one for development and other one for production. I have configured a couple of 
			environment variables that alow me to switch between development and production just runnig the following commands:</p>
		<ul>
			<li><strong>- npm run build -</strong> Compiles and minifies for production.</li>
			<li><strong>- npm run serve -</strong> Compiles and hot-reloads for development.</li>
		</ul>
		<h3>Environments:</h3>
		<h4>Production</h4>
		<p>We consume data from the following API rest: <a href="https://fakestoreapi.com/products." target="_blank">fakestoreapi</a> .</p>
		<p>After running the production command, 'dist' directory is created with all the files required to deploy the app. For preview it you need to use a Node.js static file server. If you don't know how to do it just follow the 
			<a href="https://cli.vuejs.org/guide/deployment.html#general-guidelines" target="_blank">Vue CLI deployment guidelines</a> 
		</p>
		<p></p>
		<h4>Development</h4>
		<p>We get data from local API mocks, so we don't depend on the real API for development our proyect.</p>
		<p>We use <span class="green">vue-router</span> to manage the routes of the application.</p>
		<p>We use <span class="green-dark">Vuex</span> library as state management pattern .</p>
		<p>We use <span class="blue">Axios</span> to make HTTP requests...and of course we also use NodeJS</p>
		
		<p>You can take a look at the source code here. <a href="https://gitlab.com/LuisMarte/vue-shopp" target="_blank">gitlab.com/LuisMarte</a></p>
	</div>
</template>

<script>


export default {}
	

</script>

<style lang="scss" scoped>
	p{
		font-size:rem(17);
	}
	h3 {
		font-size:rem(22);
	}
	h4 {
		font-size:rem(19);
	}
	ul {
		padding-left: rem(20);
		color:$greydarken-1;
		margin-bottom: 20px;
		}
	span{
		font-weight: bold;
	}
	.green {
		color:$accent-4;
	}
	.green-dark {
		color:$darken-4;
	}
	.blue {
		color:blue;
	}
	a {
		color:rgb(176, 11, 241);
		font-weight: bold;
	}
</style>


