<template>
  <div class="about">
    <h1>Cart</h1>
	<CartItemCard 
		v-for="product in items" 
		:key="product.id"
		:product="product"/>
	<CartSummary/>
	</div>
</template>

<script>
import CartItemCard from '@/components/cart/CartItemCard.vue'
import CartSummary from '@/components/cart/CartSummary.vue'

export default {
	components: {
		CartItemCard,
		CartSummary	
	},
	computed: {
		items(){
			return this.$store.getters.cartItems
		}
	}
}

</script>


