<template>
	<div>
		<Intro/>
		<div>
			<ProductDetails
				:product="singleProduct"
				:active="active.product_details"
				v-on:close-drawer="hideProductDetails()"
			/>
		</div>
		<div class="home">
			<ProductCard
				button-name="view"
				currency ="€"
				v-for="product in products" 
				:key="product.id" 
				:product="product"
				v-on:view-product="viewProductDetails($event)"/>
		</div>
	</div>
</template>

<script>
// @ is an alias to /src
import Intro from '@/components/Intro.vue'
import ProductCard from '@/components/products/ProductCard.vue'
import ProductDetails from '@/components/products/ProductDetails.vue'


export default {
	name: 'Home',
	components: {
		Intro,
		ProductCard,
		ProductDetails
	},
	data () {
		return {
			singleProduct: null,
			active: {
				product_details: false
			}
		}
	},
	methods: {
		viewProductDetails(product){
			this.active.product_details = true
			this.singleProduct = product
		},
		hideProductDetails(){
			this.active.product_details = false
		}
	},
	computed: {
		products(){
			return this.$store.getters.filterProducts;
		}
	},
	async created(){
		try {
			await this.$store.dispatch("fetchProducts");
		} catch(error) {
			console.log(error)
		}
		

    }
}
</script>

<style scoped lang="scss">
	.home {
		margin-top:rem(35);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
		grid-gap: rem(20);
		text-align: center;
		}
</style>


