<template>
		<button :class="type" :disabled="disabled"  @click="callback($event)">{{text}}</button>
</template>

<script>

export default {
	props:{
		text: String,
		type: String,
		disabled: Boolean
	}, 
	methods: {
    callback: function(e) {
      this.$emit('click', e);
    }
  }
}
</script>


<style scoped lang="scss">

		button{
			display:inline-block;
			padding:0.2em 1em;
			margin:0 0.1em 0.1em 0;
			border-radius:2em;
			box-sizing: border-box;
			text-decoration:none;
			font-size:1rem;
			font-weight:400;
			text-align:center;
			transition: all 0.2s;
			&[disabled]{
				background: $lighten-1;
				border:0.16em solid rgba(255,255,255,0);
				color:#FFFFFF;
				cursor: not-allowed;
			}
			&.green{
				background: $green;
				color:#FFFFFF;
				border:0.16em solid rgba(255,255,255,0);
				&:hover{
					border-color: rgba(255,255,255,1);
					cursor:pointer;
				}
			}
			&.grey{
				background: $greydarken-1;
				color:#FFFFFF;
				border:0.16em solid rgba(255,255,255,0);
				&:hover{
					border-color: rgba(255,255,255,1);
					cursor:pointer;
				}
			}
	}
</style>