<template>
	<div class="intro-container">
		<div>
			<h1>{{title}}</h1>
			<p>{{text}}</p>
		</div>
		<div>
			<router-link to="/cart" class="cart">
				<icons name="shoppingCart" /><span class="products-number">{{productsInCart}}</span>
			</router-link>
		</div>
	</div>
</template>

<script>
// @ is an alias to /src

export default {
	name: 'Intro',
	props: {
		title:{
			type: String,
			default: "Welcome to Vue Shopp"
		},
		text:{
			type: String,
			default: "This is a demo shopp created with VueJS and Vuex"
		},
	},
	computed: {
		productsInCart(){
			return this.$store.getters.cartProductsQuantity
		}
	}
}
</script>

<style scoped lang="scss">
.intro-container{
	display: flex;
    justify-content: space-between;
	p {
		font-size:rem(18);
	}
}
.cart{
	display: flex;
    align-content: center;
}
.products-number {
	border-radius: 50%;
    width: rem(12);
    height: rem(12);
    padding: rem(5);
	line-height: 0.75rem;
    background: $accent-3;
    color: $white;
    text-align: center;
    font-size: rem(13);
    font-weight: bold;
	margin-left: rem(5);
}

</style>


