<template>
	<nav class="topnav">
		<ul>
			<li>
				<router-link to="/">Home</router-link>
			</li>
			<li>
				<router-link to="/cart">Cart</router-link>
			</li>
			<li>
				<router-link to="/about">About</router-link>
			</li>
		</ul>
	</nav>
</template>

<script>


export default {
	name: 'NavBar',
}
</script>

<style scoped lang="scss">
.topnav {
	overflow: hidden;
	background-color: $darken-2;
	ul{
		display: flex;
		justify-content: flex-start;
		align-items:center;
		height: rem(50);
		}
	a {
		color: $white;
		padding: rem(14) rem(16);
		font-size: rem(17);
		font-weight: 600;
		&:hover {
			background-color: $greydarken-2;
		}
	}
}

</style>
