<template>
	<div>
		<header>
			<NavBar/>
		</header>
		<div id="app">
			<router-view/>
		</div>
	</div>
</template>

<script>
import NavBar from '@/components/NavBar.vue'
export default {
	mounted() {
		this.$store.commit('updateCartFromLocalStorage')
	},
	components: {
		NavBar
	},
}
</script>

<style lang="scss">
#app {
  color: #2c3e50;
  padding: 20px 30px 50px;
}
body{
	margin:0;
	font-family: "open-sans", sans-serif;
}
a{
	text-decoration: none;
}
ul {
	list-style-type: none;
	padding:0;
	margin:0;
}

button:focus {
	outline:none; 
}


button.active{
	animation: activeButton 1s linear alternate infinite;
}


h1, h2, h3, h4{
  font-family: "quick-med", sans-serif;
}

</style>
