
@font-face {
      font-family: 'quick-med';
      src: local('Quicksand-Medium'), 
	  		url('~@/assets/fonts/Quicksand-Medium.ttf')  format('truetype'), 
    }

@font-face {
	font-family: 'open-sans';
	src: local('OpenSanas-Regular'), 
			url('~@/assets/fonts/OpenSans-Regular.ttf')  format('truetype'), 
	}

