// Font size base
$html-font-size: 16px;


// colors palette based in Vuetify material colors GREEN & GREY https://vuetifyjs.com/en/styles/colors/#material-colors
$green:#4CAF50;
$lighten-3:#A5D6A7;
$lighten-1:#66BB6A;
$accent-3:#00E676;
$accent-4:#00C853;
$darken-2:#388E3C;
$darken-4:#1B5E20;

$grey:#9E9E9E;
$greylighten-1:#BDBDBD;
$greylighten-4:#F5F5F5;
$greydarken-1:#757575;
$greydarken-2:#616161;
$greydarken-4:#212121;

$white:#ffffff;
$black:#000;





